# Performance comparison during the COVID-19 pandemic of two portfolios composed by the five highests and lowests beta coefficients stocks present in the Ibovespa index

#### João Vitor de Paiva Marcotti
#### Electrical Engineer - State University of Maringá - UEM (Brazil)
#### 8th Semester Economics Student - Cesumar University - UniCesumar (Brazil)
#### Open to Work
#### Contact: joaovmarcotti@hotmail.com

### Calculating the beta coefficients

In [1]:
# Importando as bibliotecas
# Importing the libraries
import numpy as np
import pandas as pd
import yfinance as yfin
import pandas_datareader as pdr
import matplotlib.pyplot as plt

In [2]:
# Seleciona as ações que farão parte dos portfolios simulados, neste caso são as ações que compõem o índice Bovespa
# Select the stocks that will be part of the simulated portfolios, in this case the stocks are part of the Bovespa Index

stocks = ['^BVSP','ABEV3.SA','AZUL4.SA','AMER3.SA','B3SA3.SA','BBSE3.SA','BRML3.SA','BBDC3.SA','BBDC4.SA','BRAP4.SA',
          'BBAS3.SA','BRKM3.SA','BRFS3.SA','BPAC11.SA','CRFB3.SA','CCRO3.SA','CMIG4.SA','CIEL3.SA',
          'COGN3.SA','CSAN3.SA','CVCB3.SA','CYRE3.SA','ECOR3.SA','ELET3.SA','ELET6.SA','EMBR3.SA','ENBR3.SA','EGIE3.SA',
          'EQTL3.SA','FLRY3.SA','GGBR4.SA','GOAU4.SA','GOLL4.SA','NTCO3.SA','HAPV3.SA','HYPE3.SA','HAPV3.SA',
          'IRBR3.SA','ITSA4.SA','ITUB4.SA','JBSS3.SA','KLBN11.SA','RENT3.SA','LREN3.SA','MGLU3.SA','MRFG3.SA',
          'MRVE3.SA','MULT3.SA','PCAR3.SA','PETR3.SA','PETR4.SA','VBBR3.SA','QUAL3.SA','RADL3.SA','RAIL3.SA','SBSP3.SA',
          'SANB11.SA','CSNA3.SA','SULA11.SA','SUZB3.SA','TAEE11.SA','VIVT3.SA','TIMS3.SA','TOTS3.SA',
          'UGPA3.SA','USIM5.SA','VALE3.SA','VIIA3.SA','WEGE3.SA','YDUQ3.SA']

# Importa dados entre os anos de 2015 e 2020 para a estimativa do coeficiente beta
# Import data between the years 2015 and 2020 to estimate the beta coefficient

data = yfin.download(stocks, start='2015-01-01', end="2020-01-01")['Close']

[*********************100%***********************]  69 of 69 completed

2 Failed downloads:
- SULA11.SA: No data found for this date range, symbol may be delisted
- BRML3.SA: No data found for this date range, symbol may be delisted

In [3]:
# Ordena os valores de fechamento das ações por data
# Order stock closing values by date

data = data.sort_values(by=['Date'])
data

,ABEV3.SA,AMER3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BPAC11.SA,BRAP4.SA,...,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VBBR3.SA,VIIA3.SA,VIVT3.SA,WEGE3.SA,YDUQ3.SA,^BVSP
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,16.020000,21.140331,NaN,3.170000,22.650000,13.334277,13.445455,30.350000,NaN,12.023019,...,11.910702,25.330000,4.79,21.280001,NaN,6.80,37.820000,5.923076,22.049999,48512.0
2015-01-05,15.730000,20.464613,NaN,3.083333,22.180000,13.162675,13.465055,29.440001,NaN,11.907923,...,11.544731,24.655001,4.50,20.959999,NaN,6.80,37.070000,5.963461,20.730000,47517.0
2015-01-06,16.330000,20.522532,NaN,3.113333,22.490000,13.513680,13.908010,30.690001,NaN,12.439132,...,10.822770,24.690001,4.72,21.799999,NaN,6.80,36.150002,5.875000,19.520000,48001.0
2015-01-07,16.559999,20.319817,NaN,3.236666,23.480000,14.110388,14.460724,30.200001,NaN,12.766710,...,10.746248,25.360001,5.00,22.600000,NaN,7.36,37.389999,5.807692,18.910000,49463.0
2015-01-08,16.540001,19.653751,NaN,3.193333,23.559999,14.141588,14.535203,30.110001,NaN,12.952633,...,10.995774,25.100000,4.75,22.840000,NaN,7.36,38.910000,5.905769,19.500000,49943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-20,18.910000,62.700001,57.000000,16.366667,51.060001,25.033810,26.814425,37.740002,18.892500,33.545815,...,22.820000,24.610001,9.33,54.790001,29.299999,11.37,48.849998,16.945000,48.119999,115121.0
2019-12-23,18.959999,62.599998,57.599998,15.623333,52.599998,25.537189,26.979713,37.950001,18.542500,34.023903,...,22.556665,25.330000,9.53,54.580002,30.200001,11.67,49.000000,16.895000,49.000000,115863.0
2019-12-26,19.219999,62.730000,57.070000,15.550000,53.200001,25.807663,27.317806,37.759998,18.912500,34.572819,...,22.330000,25.600000,9.53,54.790001,30.139999,11.80,49.889999,17.424999,48.599998,117203.0
2019-12-27,19.160000,62.400002,57.799999,14.736666,52.970001,25.642374,27.212622,37.840000,18.684999,34.679062,...,21.606667,25.719999,9.43,53.599998,30.430000,11.50,49.330002,17.670000,48.799999,116534.0
2019-12-30,18.670000,62.860001,58.279999,14.323333,52.820000,25.597296,27.175056,37.700001,18.900000,33.891102,...,21.516666,25.480000,9.51,53.299999,30.070000,11.17,49.040001,17.330000,47.500000,115964.0

In [4]:
# Calcula a varição diária de cada ação
# Calculate the daily variation of each stock

daily_variation = (data-data.shift(1))/data.shift(1)
daily_variation

,ABEV3.SA,AMER3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BPAC11.SA,BRAP4.SA,...,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VBBR3.SA,VIIA3.SA,VIVT3.SA,WEGE3.SA,YDUQ3.SA,^BVSP
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-05,-0.018102,-0.031963,NaN,-0.027340,-0.020751,-0.012869,0.001458,-0.029984,NaN,-0.009573,...,-0.030726,-0.026648,-0.060543,-0.015038,NaN,0.000000,-0.019831,0.006818,-0.059864,-0.020510
2015-01-06,0.038144,0.002830,NaN,0.009730,0.013977,0.026667,0.032897,0.042459,NaN,0.044610,...,-0.062536,0.001420,0.048889,0.040076,NaN,0.000000,-0.024818,-0.014834,-0.058369,0.010186
2015-01-07,0.014084,-0.009878,NaN,0.039614,0.044020,0.044156,0.039741,-0.015966,NaN,0.026335,...,-0.007070,0.027136,0.059322,0.036697,NaN,0.082353,0.034301,-0.011457,-0.031250,0.030458
2015-01-08,-0.001208,-0.032779,NaN,-0.013388,0.003407,0.002211,0.005150,-0.002980,NaN,0.014563,...,0.023220,-0.010252,-0.050000,0.010619,NaN,0.000000,0.040653,0.016887,0.031200,0.009704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-20,-0.013563,-0.017395,-0.012303,0.011120,-0.001955,-0.028571,-0.020850,-0.014621,-0.005265,0.010400,...,0.006765,0.013174,0.001073,0.014630,-0.004417,0.011566,0.020899,0.008631,-0.031791,-0.000087
2019-12-23,0.002644,-0.001595,0.010526,-0.045418,0.030161,0.020108,0.006164,0.005564,-0.018526,0.014252,...,-0.011540,0.029256,0.021436,-0.003833,0.030717,0.026385,0.003071,-0.002951,0.018288,0.006445
2019-12-26,0.013713,0.002077,-0.009201,-0.004694,0.011407,0.010591,0.012531,-0.005007,0.019954,0.016133,...,-0.010049,0.010659,0.000000,0.003848,-0.001987,0.011140,0.018163,0.031370,-0.008163,0.011565
2019-12-27,-0.003122,-0.005261,0.012791,-0.052304,-0.004323,-0.006405,-0.003850,0.002119,-0.012029,0.003073,...,-0.032393,0.004687,-0.010493,-0.021719,0.009622,-0.025424,-0.011225,0.014060,0.004115,-0.005708
2019-12-30,-0.025574,0.007372,0.008304,-0.028048,-0.002832,-0.001758,-0.001380,-0.003700,0.011507,-0.022721,...,-0.004165,-0.009331,0.008484,-0.005597,-0.011830,-0.028696,-0.005879,-0.019242,-0.026639,-0.004891

In [84]:
# Retorna a covariância entre as variações diárias das ações
# Return the covariance between the stock's daily variations

daily_variation_covariance = daily_variation.cov()*250

# Retorna a covariância entre cada ação e o Ibovespa
# Returns the covariance between each stock and the Ibovespa

daily_variation_covariance['^BVSP']

ABEV3.SA    0.024666
AMER3.SA    0.049010
AZUL4.SA    0.043669
B3SA3.SA    0.052140
BBAS3.SA    0.075980
              ...
VIIA3.SA    0.037778
VIVT3.SA    0.027381
WEGE3.SA    0.029335
YDUQ3.SA    0.050606
^BVSP       0.048132
Name: ^BVSP, Length: 69, dtype: float64

In [85]:
# Retorna a variância das variações diárias de cada ação
# Returns the variance of the daily variation of each stock

daily_variation_variance = daily_variation.var()*250

# Retorna a variãncia do Ibovespa
# Returns the Ibovespa variance

daily_variation_variance['^BVSP']

0.04813214358294951

In [86]:
# Calcula o coeficiente beta de cada ação
# Calculates the beta coeficient of each stock

beta = daily_variation_covariance['^BVSP']/daily_variation_variance['^BVSP']
beta

ABEV3.SA    0.512463
AMER3.SA    1.018240
AZUL4.SA    0.907269
B3SA3.SA    1.083270
BBAS3.SA    1.578574
              ...
VIIA3.SA    0.784877
VIVT3.SA    0.568870
WEGE3.SA    0.609475
YDUQ3.SA    1.051406
^BVSP       1.000000
Name: ^BVSP, Length: 69, dtype: float64

In [87]:
# Ordena os coeficientes beta calculados do menor para o maior, exibindo os 5 menores coeficientes beta
# Orders calculated beta coeficients from lowest to highest, displaying the 5 lowest beta coeficient

lowests_beta = beta.sort_values(na_position='last').head()
lowests_beta

PCAR3.SA     0.012453
SUZB3.SA     0.036458
IRBR3.SA     0.276919
KLBN11.SA    0.354161
EMBR3.SA     0.390987
Name: ^BVSP, dtype: float64

In [88]:
# Ordena os betas calculados do maior para o menor, exibindo os 5 maiores beta coeficients
# Orders calculated betas from largest to smallest, displaying the 5 highests beta coeficients

highests_beta = beta.sort_values(na_position='first').tail()
highests_beta

BBAS3.SA    1.578574
PETR3.SA    1.667519
GOLL4.SA    1.686829
PETR4.SA    1.755819
CSNA3.SA    1.783907
Name: ^BVSP, dtype: float64

In [89]:
# Define pesos iguais para cada ação: 20%
# Sets equal weights for each stock: 20%

weights = [0.2,0.2,0.2,0.2,0.2]

## Biggest stocks fall period (02/21/2020 - 03/21/2020)

 ### Lowests beta coefficients portfolio return

In [90]:
# Seleciona as cinco ações de menor beta
# Select the five slowests beta stocks

lowests_beta_stocks = ['PCAR3.SA','SUZB3.SA','KLBN11.SA','IRBR3.SA','EMBR3.SA']

# Importa dados referentes ao período da maior queda do Ibovespa em razão da Pandemia de Covid-19
# Import data referring to the period of the biggest drop in the Ibovespa due to the Covid-19 Pandemic

lowests_beta_return = yfin.download(lowests_beta_stocks, start='2020-02-21', end="2020-03-21")['Close']
lowests_beta_return

[*********************100%***********************]  5 of 5 completed

             EMBR3.SA   IRBR3.SA  KLBN11.SA   PCAR3.SA   SUZB3.SA
Date
2020-02-21  19.540001  30.052202  22.020000  88.160004  41.419998
2020-02-26  17.840000  29.571663  20.139999  88.160004  38.599998
2020-02-27  17.180000  31.540028  19.900000  82.000000  38.130001
2020-02-28  16.959999  30.726807  19.330000  82.000000  38.139999
2020-03-02  17.150000  28.046873  20.430000  73.730003  39.650002
2020-03-03  16.910000  25.875204  20.750000  74.629997  39.939999
2020-03-04  17.240000  17.604382  22.090000  74.500000  43.540001
2020-03-05  16.549999  14.758108  21.719999  71.089996  42.619999
2020-03-06  15.920000  15.127754  21.280001  69.309998  40.029999
2020-03-09  14.960000  12.715815  19.590000  65.300003  37.950001
2020-03-10  15.170000  12.660368  19.709999  66.500000  38.860001
2020-03-11  14.220000  11.736254  18.200001  62.400002  35.459999
2020-03-12  10.460000   8.455647  15.800000  57.689999  29.740000
2020-03-13  11.680000   9.241144  16.160000  65.500000  31.580000
2020-03-16  10.000000   8.086001  13.700000  62.369999  28.370001
2020-03-17  10.480000   8.178413  14.280000  68.000000  28.000000
2020-03-18   9.030000   6.653624  12.810000  59.869999  24.620001
2020-03-19   9.650000   7.014028  14.080000  64.459999  27.330000
2020-03-20   8.400000   6.746035  13.050000  67.230003  27.389999

In [91]:
# Obtém a variação total do valor das ações neste intervalo de tempo
# Gets the total variation of the stocks' value in this time interval

total_variation_lowests = (lowests_beta_return.iloc[-1]-lowests_beta_return.iloc[0])/lowests_beta_return.iloc[0]
total_variation_lowests

EMBR3.SA    -0.570113
IRBR3.SA    -0.775523
KLBN11.SA   -0.407357
PCAR3.SA    -0.237409
SUZB3.SA    -0.338725
dtype: float64

In [92]:
# Exibe a variação total do valor, os pesos das ações e seus tickets em uma tabela
# Displays total value variation, stock weights and their tickets in a table

portfolio_lowests = pd.DataFrame({'Weight':weights,'Return':total_variation_lowests})
portfolio_lowests

           Weight    Return
EMBR3.SA      0.2 -0.570113
IRBR3.SA      0.2 -0.775523
KLBN11.SA     0.2 -0.407357
PCAR3.SA      0.2 -0.237409
SUZB3.SA      0.2 -0.338725

In [93]:
# Calcula o retorno médio das ações, ou seja, o retorno da carteira formada por elas
# Calculates the average return of the stocks (the return of the portfolio composted by them)

total_mean_variation_lowests = total_variation_lowests.mean()
total_mean_variation_lowests

-0.4658253680009972

 ### Highests beta coefficients portfolio return

In [94]:
# Seleciona as ações que farão parte dos portfolios simulados, neste caso são as ações que compõem o índice Bovespa
# Select the stocks that will be part of the simulated portfolios, in this case the stocks are part of the Bovespa Index

highests_beta_stocks = ['PETR3.SA','BBAS3.SA','GOLL4.SA','CSNA3.SA','PETR4.SA']

# Importa os dados do Yahoo Finance
# Import the data from Yahoo Finance

return_highests = yfin.download(highests_beta_stocks, start='2020-02-21', end="2020-03-21")['Close']
return_highests

[*********************100%***********************]  5 of 5 completed

             BBAS3.SA  CSNA3.SA   GOLL4.SA   PETR3.SA   PETR4.SA
Date
2020-02-21  49.220001     13.13  33.820000  30.850000  29.139999
2020-02-26  45.230000     11.70  28.980000  27.780001  26.209999
2020-02-27  45.790001     11.32  26.400000  26.830000  25.299999
2020-02-28  46.860001     11.18  25.600000  27.150000  25.340000
2020-03-02  47.150002     12.35  26.110001  28.100000  26.530001
2020-03-03  45.770000     12.17  25.120001  27.500000  26.049999
2020-03-04  45.820000     12.32  24.809999  28.219999  26.889999
2020-03-05  43.110001     11.95  20.650000  26.809999  25.290001
2020-03-06  42.299999     11.11  21.049999  24.059999  22.830000
2020-03-09  37.630001      8.30  17.379999  16.920000  16.049999
2020-03-10  39.610001      9.37  18.320000  18.360001  17.559999
2020-03-11  36.189999      8.02  15.650000  16.370001  15.850000
2020-03-12  31.250000      6.58   9.970000  12.920000  12.600000
2020-03-13  36.490002      7.95  11.170000  15.860000  15.400000
2020-03-16  30.400000      7.20   8.040000  13.130000  13.090000
2020-03-17  31.870001      7.75   7.780000  13.080000  13.000000
2020-03-18  26.610001      6.71   5.600000  11.050000  11.290000
2020-03-19  25.570000      6.36   6.250000  12.450000  12.210000
2020-03-20  24.600000      6.16   7.280000  12.220000  12.000000

In [95]:
# Obtém a variação total do valor das ações neste intervalo de tempo
# Gets the total variation of the stocks' value in this time interval

total_variation_highests = (return_highests.iloc[-1]-return_highests.iloc[0])/return_highests.iloc[0]
total_variation_highests

BBAS3.SA   -0.500203
CSNA3.SA   -0.530845
GOLL4.SA   -0.784743
PETR3.SA   -0.603890
PETR4.SA   -0.588195
dtype: float64

In [96]:
# Exibe a variação total do valor, os pesos das ações e seus tickets em uma tabela
# Displays total value variation, stock weights and their tickets in a table

portfolio_highests = pd.DataFrame({'Weight':weights,'Return':total_variation_highests})
portfolio_highests

          Weight    Return
BBAS3.SA     0.2 -0.500203
CSNA3.SA     0.2 -0.530845
GOLL4.SA     0.2 -0.784743
PETR3.SA     0.2 -0.603890
PETR4.SA     0.2 -0.588195

In [97]:
# Calcula o retorno médio das ações, ou seja, o retorno da carteira formada por elas
# Calculates the average return of the stocks (the return of the portfolio composted by them)

total_mean_variation_highests = total_variation_highests.mean()
total_mean_variation_highests

-0.6015752055281669

## Economic recovery period (21/03/2020 - 21/03/2021)

In [98]:
# Seleciona as ações que farão parte dos portfolios simulados, neste caso são as ações que compõem o índice Bovespa
# Select the stocks that will be part of the simulated portfolios, in this case the stocks are part of the Bovespa Index

# Importa os dados do Yahoo Finance
# Import the data from Yahoo Finance

return_lowests = yfin.download(lowests_beta_stocks, start='2020-03-21', end="2021-03-21")['Close']
return_lowests

[*********************100%***********************]  5 of 5 completed

            EMBR3.SA  IRBR3.SA  KLBN11.SA   PCAR3.SA   SUZB3.SA
Date
2020-03-23      7.74  6.468801  13.510000  71.879997  28.799999
2020-03-24      9.05  7.559256  13.470000  72.000000  28.900000
2020-03-25     10.57  8.317030  13.880000  70.000000  29.350000
2020-03-26     10.13  9.176456  14.130000  66.320000  28.049999
2020-03-27      8.97  9.610790  14.980000  64.019997  32.869999
...              ...       ...        ...        ...        ...
2021-03-15     14.69  6.030000  28.370001  25.000000  72.849998
2021-03-16     13.99  6.060000  29.610001  24.690001  75.250000
2021-03-17     14.42  6.160000  29.559999  24.900000  76.550003
2021-03-18     13.95  6.170000  28.590000  25.000000  75.300003
2021-03-19     14.51  6.180000  28.280001  28.309999  74.000000

[245 rows x 5 columns]

In [99]:
# Calcula a varição diária de cada ação
# Calculate the daily variation of each stock

daily_variation_lowests = (return_lowests-return_lowests.shift(1))/return_lowests.shift(1)
daily_variation_lowests

            EMBR3.SA  IRBR3.SA  KLBN11.SA  PCAR3.SA  SUZB3.SA
Date
2020-03-23       NaN       NaN        NaN       NaN       NaN
2020-03-24  0.169251  0.168571  -0.002961  0.001669  0.003472
2020-03-25  0.167956  0.100245   0.030438 -0.027778  0.015571
2020-03-26 -0.041627  0.103333   0.018012 -0.052571 -0.044293
2020-03-27 -0.114511  0.047331   0.060156 -0.034680  0.171836
...              ...       ...        ...       ...       ...
2021-03-15  0.020139 -0.025848  -0.035034  0.004016 -0.018855
2021-03-16 -0.047651  0.004975   0.043708 -0.012400  0.032944
2021-03-17  0.030736  0.016502  -0.001689  0.008505  0.017276
2021-03-18 -0.032594  0.001623  -0.032815  0.004016 -0.016329
2021-03-19  0.040143  0.001621  -0.010843  0.132400 -0.017264

[245 rows x 5 columns]

In [100]:
# Obtém a variação total do valor das ações neste intervalo de tempo
# Gets the total variation of the stocks' value in this time interval

total_variation_lowests = (return_lowests.iloc[-1]-return_lowests.iloc[0])/return_lowests.iloc[0]
total_variation_lowests

EMBR3.SA     0.874677
IRBR3.SA    -0.044645
KLBN11.SA    1.093264
PCAR3.SA    -0.606149
SUZB3.SA     1.569445
dtype: float64

### Lowest beta coefficients portfolio volatility

In [101]:
# Transforma a lista 'weights' em um vetor numpy
# Turns the list 'weights' into a numpy array

weights = np.asarray(weights)

In [102]:
# Calcula a variância das ações de menor coeficiente beta
# Calculates the variance of the smallest beta stocks

covariance_lowests = daily_variation_lowests.cov()

# Calcula a volatilidade das ações de menor beta
# Calculates the volatility of the smallest beta stocks

volatility_lowests = np.sqrt(np.dot(weights.T,np.dot(covariance_lowests,weights)))
volatility_lowests

0.028529771046242637

In [103]:
# Exibe a variação total do valor, os pesos das ações e seus tickets em uma tabela
# Displays total value variation, stock weights and their tickets in a table

portfolio_lowests = pd.DataFrame({'Weights':weights,'Returns':total_variation_lowests})
portfolio_lowests

           Weights   Returns
EMBR3.SA       0.2  0.874677
IRBR3.SA       0.2 -0.044645
KLBN11.SA      0.2  1.093264
PCAR3.SA       0.2 -0.606149
SUZB3.SA       0.2  1.569445

### Lowest beta coefficients portfolio return

In [104]:
# Calcula o retorno médio das ações, ou seja, o retorno da carteira formada por elas
# Calculates the average return of the stocks (the return of the portfolio composted by them)

average_total_return_lowests = total_variation_lowests.mean()
average_total_return_lowests

0.5773182982765143

In [105]:
# Seleciona as ações que farão parte dos portfolios simulados, neste caso são as ações que compõem o índice Bovespa
# Select the stocks that will be part of the simulated portfolios, in this case the stocks are part of the Bovespa Index

# Importa os dados do Yahoo Finance
# Import the data from Yahoo Finance

return_highests = yfin.download(highests_beta_stocks, start='2020-03-21', end="2021-03-21")['Close']
return_highests

[*********************100%***********************]  5 of 5 completed

             BBAS3.SA   CSNA3.SA   GOLL4.SA   PETR3.SA   PETR4.SA
Date
2020-03-23  22.129999   5.800000   6.930000  11.620000  11.500000
2020-03-24  25.920000   5.800000   8.100000  13.470000  13.250000
2020-03-25  29.030001   6.550000  10.940000  14.550000  14.320000
2020-03-26  30.490000   7.100000  13.040000  14.600000  14.390000
2020-03-27  28.240000   6.770000  12.590000  13.030000  13.300000
...               ...        ...        ...        ...        ...
2021-03-15  29.790001  35.830002  24.070000  23.260000  23.650000
2021-03-16  29.870001  36.950001  22.540001  22.910000  23.280001
2021-03-17  30.700001  37.639999  23.100000  23.639999  24.080000
2021-03-18  30.440001  37.040001  21.360001  22.969999  23.240000
2021-03-19  30.700001  35.610001  21.490000  23.520000  24.000000

[245 rows x 5 columns]

In [106]:
# Calcula a variação diária do preço das ações
# Calcules the daily variation of the stocks price

daily_variation_highests = (return_highests-return_highests.shift(1))/return_highests.shift(1)
daily_variation_highests

            BBAS3.SA  CSNA3.SA  GOLL4.SA  PETR3.SA  PETR4.SA
Date
2020-03-23       NaN       NaN       NaN       NaN       NaN
2020-03-24  0.171261  0.000000  0.168831  0.159208  0.152174
2020-03-25  0.119985  0.129310  0.350617  0.080178  0.080755
2020-03-26  0.050293  0.083969  0.191956  0.003436  0.004888
2020-03-27 -0.073795 -0.046479 -0.034509 -0.107534 -0.075747
...              ...       ...       ...       ...       ...
2021-03-15 -0.007000 -0.047581  0.056629  0.024670  0.020716
2021-03-16  0.002685  0.031259 -0.063565 -0.015047 -0.015645
2021-03-17  0.027787  0.018674  0.024845  0.031864  0.034364
2021-03-18 -0.008469 -0.015940 -0.075325 -0.028342 -0.034884
2021-03-19  0.008541 -0.038607  0.006086  0.023944  0.032702

[245 rows x 5 columns]

In [107]:
# Calcula a variação total do preço das ações durante o periodo de tempo estudado
# Calcules the total variation of the stocks price during the studied time period

total_variation_highests = (return_highests.iloc[-1]-return_highests.iloc[0])/return_highests.iloc[0]
total_variation_highests

BBAS3.SA    0.387257
CSNA3.SA    5.139655
GOLL4.SA    2.101010
PETR3.SA    1.024096
PETR4.SA    1.086957
dtype: float64

### Highest beta coefficients portfolio volatility

In [108]:
# Calcula a covariância das ações de maior beta
# Calcules the covariance of the biggest beta stocks

covariance_highests = daily_variation_highests.cov()

# Calcula a volatilidade da carteira composta pelas ações maior beta
# Calcules the volatility of the portfolio composted by the biggest beta stocks

volatility_highests = np.sqrt(np.dot(weights.T,np.dot(covariance_highests,weights)))
volatility_highests

0.031210116537317804

In [109]:
# Exibe a variação total do valor, os pesos das ações e seus tickets em uma tabela
# Displays total value variation, stock weights and their tickets in a table

portfolio_highests = pd.DataFrame({'Weights':weights,'Returns':total_variation_highests})
portfolio_highests

          Weights   Returns
BBAS3.SA      0.2  0.387257
CSNA3.SA      0.2  5.139655
GOLL4.SA      0.2  2.101010
PETR3.SA      0.2  1.024096
PETR4.SA      0.2  1.086957

### Highest beta coefficients portfolio return

In [110]:
# Calcula o retorno médio das ações, ou seja, o retorno da carteira formada por elas
# Calculates the average return of the stocks (the return of the portfolio composted by them)

average_total_return_highests = total_variation_highests.mean()
average_total_return_highests

1.947795078253849

## Final results

In [111]:
final_results_total_return = [str(round(average_total_return_highests*100,2))+'%',str(round(average_total_return_lowests*100,2))+'%']
final_results_volatility = [round(volatility_highests,4),round(volatility_lowests,4)]

In [112]:
final_results = pd.DataFrame({'Total return':final_results_total_return,'Volatility':final_results_volatility},index=['Highests betas portfolio','Lowests betas portfolio'])
final_results

                         Total return  Volatility
Highests betas portfolio      194.78%      0.0312
Lowests betas portfolio        57.73%      0.0285